* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  background-color: rgb(243, 243, 243);

  padding: 3rem;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.accordion {
  width: 40rem;
  padding: 1rem;
  border-radius: 25px;
}

.panel {
  background-color: #fff;
  border-top: 2px solid green;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 15px 10px 20px rgb(172, 172, 172);
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
}

.panel .number {
  grid-column: 1;
}

.panel h3 {
  grid-column: 2;
}

.panel .btn {
  text-align: center;
  grid-column: 3;
  font-size: 2rem;
  cursor: pointer;
}

.panel .answer {
  grid-column: 2;
  margin-top: 0.5rem;
}
